*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(225, 224, 224);
}
:root{
  --main-color: #9ADE7B;
  --second-color: #EEF296;
}




/* https://colorhunt.co/palette/ff8f8feef2969ade7b508d69 */